.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: pink;
}

/* remove bullets from li elements */
.App-list-style {
  display: inline-block;
  list-style: none;
  text-align: left;
}

.App-list-style {
  list-style: none;
  padding: 10px ;
}

.App-selected-customer-container {
  background-color: pink;
}

.App-selected-customer-title {
  margin-top: 5px;
}

.App-customer-detail-title {
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
}

.App-customer-detail {
  font-weight: bold;
}

.CheckoutReturn {
  background-color: plum;
}

.App-nav-link-container {
  padding-right: 10px;
  margin-right: 10px;
  border-right: solid black 1px;
  display: inline-block;
}

/* remove right border from Customers link on nav bar */
.App-nav-link-container:last-of-type {
  padding-right: 0;
  border-right: none;
  margin-right: 0;
}

.App-nav-link {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.App-nav-link:not(.active):hover {
  color: purple;
}
